
/************************************** FONTS **************************************/

body {
    font-family: "nexaregular", sans-serif;
    font-size: 1em;
    color: #606060;
}










/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "nexabold", sans-serif;
}

h1 {
    color: #2800a0;
}

h2 {
    margin-left: 0.6em;
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}













/************************************** MENU **************************************/

header img {
    width: 10em;
}

ul {
    padding: 0;
    list-style: none;
}

.fas.fa-user,
.far.fa-heart,
.fas.fa-download {
    color: #00d66c;
    font-size: 1.8em;
    text-decoration: none;
    list-style-type: none;
}

.fas.fa-user:hover,
.far.fa-heart:hover,
.fas.fa-download:hover,
.fas.fa-user:focus,
.far.fa-heart:focus,
.fas.fa-download:focus,
.fas.fa-user:active,
.far.fa-heart:active,
.fas.fa-download:active {
    color: #ff3268;
    transition: 0.3s;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: -2.3em;
}

header li {
    margin: 0 0.7em;
}

header li {
    margin: 0 0.7em;
}

nav {
    border-bottom: solid 2px #00d66c;
    margin: 0.5em -0.42em 2em -0.42em;
    background-color: white;
    padding-top: 0.3em;
}











/************************************** MAIN
**************************************/

main {
    padding: 2em;
    padding-bottom: 0em;
}













/************************************** ANIMATIE DOWNLOAD
**************************************/

section img {
    width: 4em;

    margin-bottom: -1em;
    display: inline;
}

.gifbeweeg {
    margin-left: -3em;
    visibility: hidden;
    position: absolute;
    width: 3.3em;
}

.gifbeweeg.visible {
    visibility: visible;
    animation: vliegen 1.5s forwards;
}

.hide {
    visibility: hidden;
    position: absolute;
}



@media screen and (min-width:0rem) {

@keyframes vliegen {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(8.2em, -22.5em);
    }
}
}



@media screen and (min-width:35rem) {

@keyframes vliegen {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(12.9em, -12.8em);
    }
}
}


@media screen and (min-width:60rem) {

@keyframes vliegen {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(41.5em, -12.7em);
    }
}

}








/************************************** ANIMATIE FAVORIET
**************************************/


.gifbeweeg2 {
    margin-left: -3em;
    visibility: hidden;
    position: absolute;
    width: 3.3em;
}

.gifbeweeg2.visible {
    visibility: visible;
    animation: vliegen2 1.5s forwards;
}


@media screen and (min-width:0rem) {

@keyframes vliegen2 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(13em, -22.7em);
    }
}
}

@media screen and (min-width:35rem) {

@keyframes vliegen2 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(12.3em, -12.7em);
    }
}
}


@media screen and (min-width:60rem) {

@keyframes vliegen2 {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: translate(46.5em, -12.8em);
    }
}
}








/************************************** ICONEN, TITEL EN KNOPPEN **************************************/

.fas.fa-eye,
.fas.fa-star,
.fas.fa-clock {
    color: white;
    font-size: 1.2em;
    padding: 0.3em;
    border-radius: 20em;
}

.fas.fa-eye {
    background-color: #00d66c;
}

footer>.fas.fa-star {
    background-color: #2800a0;
}

.fas.fa-clock {
    background-color: #ff3268;
}

footer p {
    display: inline;
    color: #202020;
    color: black;
    margin: 0em 1em 0em 0em;
    text-align: center;
}

footer {
    border: 2px #ccc solid;
    padding: 1em;
    margin-right: 0;
    border-radius: 1em;
    padding-top: 1.5em;
    display: inline;
}

footer span {
    color: #00d66c;
    font-weight: bold;
}

section h1:first-of-type {
    padding-right: 5em;
    font-size: 2em;
    display: inline;
}

.mobiel {
    visibility: hidden;
    position: absolute;
}

main section:first-of-type {
    margin-top: 3em;
}

main section:first-of-type a {
    position: absolute;

}










/************************************** VERHAAL
**************************************/




    main>video:first-of-type, main>img:first-of-type {
        visibility: hidden;
        position: absolute;
    }


    main>video:first-of-type, main>img:first-of-type, main>img:nth-of-type(2) {
    width: 100%;
    margin-top: 5em;
    border: 2px #ccc solid;
    border-radius: 1em;
    margin-bottom: 5em;
}






/***** IPAD *****/

@media screen and (min-width: 40rem) {
    main>video:first-of-type, main>img:nth-of-type(2) {
        visibility: hidden;
        position: absolute;
        height: 0;
    }

    main>img:first-of-type {
        visibility: visible;
        position: relative;
    }

}


    /***** DESKTOP *****/

@media screen and (min-width: 60rem) {

    main>img:first-of-type, main>img:nth-of-type(2) {
        visibility: hidden;
        position: absolute;
        height: 0;
    }

     main>video:first-of-type {
        visibility: visible;
        position: relative;
    }
}








/************************************** REVIEWS
**************************************/

section:nth-of-type(2) {
    background-color: #F3E5D9;
    width: calc(100% + 0.1em);
    margin: auto 0em auto -2em;
    padding: 2em;
    padding-top: 5em;
}

section:nth-of-type(2) p:first-of-type {
    display: inline-block;
}

section:nth-of-type(2) h1:nth-of-type(2) {
    display: inline;
    font-size: 4em;
    color: #00d66c;
    background-color: white;
    border-radius: 50em;
    padding: 0.5em 0.5em 0.3em 0.7em;
    margin: 2em 0.2em 2em 8.5em;
}

section:nth-of-type(2) label:first-of-type {
    margin-right: 2em;
    color: #222222;
}

select {
    margin: 3em;
    width: 15em;
    padding: 5px 40px 5px 10px;
    font-size: 1em;
    font-family: "nexaregular", sans-serif;
    border: 2px solid #2800a0;
    border-radius: 1em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../afbeeldingen/chevron-arrow-down.svg) 96% / 10% no-repeat #fff;
}

article {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
    width: 20em;
}

article p:first-of-type {
    font-size: 3em;
    color: #2800a0;
    font-weight: bold;
    margin: 0;
    display: inline;
}

article h2 {
    color: #00d66c;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 1em;
}

article p:nth-of-type(2) {
    display: block;
}

section div article p:nth-of-type(3) {
    color: #00d66c;
    margin-right: 1em;
    margin-left: 16em;
    display: inline;
}

article p:nth-of-type(4) {
    color: #E60000;
    display: inline;
}

section div article .fas.fa-star {
    color: #00d66c;
    font-size: 2.5em;
    margin-top: 0;
}

div {
    display: grid;
    grid-template-columns: repeat(3, 20em);
    grid-gap: 4em;
}






/************************************** RECENSIE ACHTERLATEN
**************************************/


[type=text], textarea {
    font-family: "nexaregular", sans-serif;
    font-size: 1em;
    color: black;
    height: 2em;
    border: solid 1px green;
    background-color: #C3E1C3;
    border-radius: 0.4em;
    padding-left: 0.5em;
    width: 80%;
    display: block;
    margin-bottom: 1em;
}

textarea {
    height: 7em;
}



[type=number] {
    display: block;
    padding: 0.3em;
    font-family: "nexaregular", sans-serif;
    font-size: 1em;
    border: solid 0.5px #2800a0;
    border-radius: 0.4em;
    margin-bottom: 1em;
}

[type=submit] {
    font-size: 1em;
    background-color: #ff3268;
    padding: 0.6em 1.3em 0.3em 1.3em;
    border-bottom: solid 2px #CB315A;
    border-radius: 4em;
    color: white;
    font-family: "nexabold";
}

[type=submit]:hover {
    background-color: #fd678f;
    color: white;
}

[type=submit]:focus {
    background-color: #fd678f;
    margin-top: 0.2em;
    transition: 0.3s;
}


label {
    font-weight: bold;
    color: #222222;
}

input:not([type=submit]):invalid, textarea:invalid {
    border: solid 0.5px #2800a0;
    background-color: white;
}

input:not([type=submit]):focus, textarea:focus {
    border: solid 2px #2800a0;
    transform: scale(1.02);
    transition: 0.5s;
    outline: none;
}

fieldset>p {
    visibility: hidden;
    position: absolute;
}

fieldset {
    border: none;
    padding: 1em;
    padding-left: 0.1em;
    border-radius: 1em;
    margin: 1em auto;
}

fieldset:valid {
    background-color: #C3E1C3;
    padding-left: 1em;
}

fieldset:valid p {
    visibility: visible;
    position: relative;
}


section:last-of-type form label {
    margin-right: 0em;
    margin-left: 0em;
}

section:last-of-type form label:nth-of-type(2) {
    margin-left: -2em;

}

section:last-of-type h1:last-of-type {
    margin-top: 4em;
}






/************************************** MOBIEL BREAKPOINT
**************************************/

@media screen and (max-width: 41rem) {
    section h1:first-of-type {
        padding-right: 1em;
        font-size: 2em;
        display: inline;
        ;
    }
    main {
        padding: 1em;
    }
}

footer {
    width: 17em;
}

@media screen and (max-width: 35rem) {
    section h1:first-of-type {
        padding-right: 0em;
        font-size: 2em;
        display: block;
    }
    main {
        padding: 1em;
    }
    footer p:last-of-type {
        display: block;
        margin-top: 1em;
        text-align: left;
    }
    footer {
        display: block;
    }
    .laptop {
        visibility: hidden;
        position: absolute;
    }
    .mobiel {
        visibility: visible;
        position: relative;
    }
}


/************************************** EERSTE LAPTOP BREAKPOINT
**************************************/

@media screen and (max-width: 75rem) {

    section:nth-of-type(2) h1:nth-of-type(2) {
        margin: 2em 0.2em 2em 2.5em;

    }
    div {
        display: grid;
        grid-template-columns: repeat(2, 20em);
        grid-column-gap: 4em;
        grid-row-gap: 2em;
    }


}





/************************************** IPAD BREAKPOINT
**************************************/

@media screen and (max-width: 51rem) {

        section:nth-of-type(2) h1:nth-of-type(2) {
        font-size: 2em;
        color: #00d66c;
        background-color: white;
        border-radius: 50em;
        padding: 0.5em 0.5em 0.3em 0.7em;
        margin: 0;
        margin-right: 0.3em;
    }

    article {
        width: 16em;
    }

    section div article p:nth-of-type(3) {
        margin-left: 13em;
    }

     div {
        display: grid;
        grid-template-columns: repeat(2, 16em);
        grid-column-gap: 4em;
        grid-row-gap: 2em;
    }

    select {
    margin: 1em;
    width: 12em;
    padding: 5px 40px 5px 10px;
}



}




/************************************** MOBIEL BREAKPOINT
**************************************/

@media screen and (max-width: 40rem) {

    select {
        width: 10em;
    }

    article {
        width: 18em;
    }

    div {
        display: grid;
        grid-template-columns: repeat(1, 18em);
    }


}

