form {
    border-bottom: 1px solid black;
    transition: .5s cubic-bezier(.36,-.0.39,.6);
    margin-top: -6em;
    overflow: hidden;
    padding: 1em;
    height: 4em;
}

input {
    width: 90%;
}

form.active {
    margin-top: 0;
}

label {
    position: relative;
}

em {
    position: absolute;
    top: -1.5em;
    margin-left: -1em;

}
